LOG_LEVEL=info
# should never be changed
# TEAMS_WS_URL=ws://localhost:8124 
WLED_URL=http://192.168.178.XXX

# set your presets here, they should be the same as in WLED
WLED_PRESET_IDLE=1
WLED_PRESET_IN_MEETING=2
WLED_PRESET_UNREAD=3
